.category-wrapper{
    /* max-width: 1350px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* category-top  */
.category-top-container{
    display: flex;
    justify-content: center;
    background-color: #F8EAE6;
    margin-top: 0;
    height: 165px;
    text-align: center;
    font-weight: 100;
}
.category-top{
    display: flex;
    width: 1350px;
    align-items: center;
}
.category-top h1{
    width: 100%;
    text-align: center;
    font-family:"Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif; 
    font-weight: 100;
}
.category-top span{
    display: flex;
    flex-direction: column; 
    font-weight: 300;
    font-size: 25px;
    text-indent: 20px;
    margin-top: 10px;
}
.category-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1350px;
    width: 1350px;
}
.category-products{
    max-width: 1370px;
    display:flex;
    flex-wrap:wrap;
    overflow-y:hidden;
    padding-left: 0 !important;
    flex: 1 0 100%;
}
.category-products li{
    list-style: none;
    flex: 1 1 200px 100px;
    object-fit: contain;
    max-width: 330px;
    padding: 6px;
}
