
.category-product-img{
    all:unset;
    color: black;
    overflow: hidden;
    cursor: pointer;
}
.category-product-img > img {
    width: 100%;
    object-fit: fill;
    box-shadow: 0 1px 6px 0 rgb(34 34 34 / 15%);
    border: 1px solid rgba(34, 34, 34, 0.15);
    height: 330px;
    border-radius: 2px;
}
.category-product-img > img:hover{
    box-shadow: 0 1px 6px 0 rgba(26, 25, 25, 0.5);
    border: 1px solid rgba(34, 34, 34, 0.15);
}
.category-product-price{
    font-weight: 700;
    font-size: 16px;
} 

.category-product-name{
    display: block;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap !important;
    max-width: 330px;
} 