.cart-policy{
    font-weight: 400;
    font-size: 13px;
    border-radius: 12px ;
    background-color: #D7E6F5;
    width: 100%;    
    height: 60px;
    display: flex;
    justify-content:left;
    margin-top: 40px;
    margin-bottom: 20px;
    align-items: center;
}
.cart-policy-icon{
    margin-left: 10px;
    margin-right: 10px;
}