
.checkout_title{
    margin-right: 10px;
    padding: 10px;
    font-size: 32px;
    font-weight: lighter;
}
.cart-policy{
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding: 12px;
    border-radius: 12px !important;
    background-color: #D7E6F5 !important;
    align-items: center !important;
    width: 100%;
}
.cart {
    margin-top: 16px;
    padding: 0 8px;
    font-family:"Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;    
  }
  .cart ul{
    width: 65%;
  }
  .cart-main{
    display: flex;
  }
  .cart-item {
    display: flex;
    margin-bottom: 24px;
    flex-direction: column;
  }
  .cart-item-main{
    display: flex;
  }
  
/*   
  .cart-item-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 8px;
  } */
  .cart-remove-button{
    all:unset;
    border: 1px solid black;
    width: 36px;
    font-size:13px ;

  }
  .cart button[type="submit"] {
    background-color: black;
    color: white;
    padding: 15px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-size: 15px;
    margin-top: 15px;
  }
  
  .checkout{
    width: 30%;
    height: 600px;
    box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
    border-radius: 18px !important;
    overflow: hidden !important;
    padding: 18px !important;
    font-size: 14px;
    line-height: 1.4;
  }
  /* input[type="number"] {
    -moz-appearance: textfield;
    text-align: center;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  } */
