.items-total{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}


.checkout{
    width: 425px;
    height: 600px;
    box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
    border-radius: 18px !important;
    overflow: hidden !important;
    font-size: 14px;
    line-height: 1.4;
    max-width: 33.33333%;
    min-width: 260px;
  }