.home{
    font-family:"Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif; 
    max-width: 1350px;
    margin: auto;
    /* padding-top: 165px; */
}
.home-header{
    background-color: #F8EAE6;
    margin-top: 0;
    height: 165px;
    text-align: center;
    font-weight: 100;
}
.home-header > h1 {
    font-family:"Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif; 
    font-weight: 100;
    margin-top: 0;
}

.home h3{
    font-weight: 400;
    font-size: 16px;
    margin-left: 4px;
    margin-bottom: -10px;
}
.home-products{
    display:flex;
    flex-wrap:wrap;
    overflow-y:hidden;
    padding-left: 0 !important;
    flex: 1 0 100%
}
.home-products li{
    flex: 1 1 260px;
    height:200px;
    list-style: none;
    margin: 5px;
}

.home-products-wrapper {
    margin: auto;
    max-width: 1350px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
}