.home{
    font-family:"Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif; 
}
.home-header{
    background-color: #F8EAE6;
    margin-top: 0;
    height: 165px;
    text-align: center;
}
.home-header > h1 {
    font-weight: 300;
    margin-top: 0;
}

.home h3{
    font-weight: 400;
    font-size: 16px;
    margin-left: 4px;
    margin-bottom: -10px;
}
.home-products{
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   padding: 0;
}
.home-product {
    flex: 1 0 17%; 
    margin: 5px;
    height: 170px;
  }
