.home-navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1350px;
    max-width: 1350px;
}
.home-navbar-row{
    display: flex;
    height: 35px;
}
.catergory-bar{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-self: center;
    margin-bottom: 0;
    padding-bottom: 5px;
}
.category{
    font-size: 13px;
    /* cursor: pointer; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    padding-bottom: 5px;
}
.category::after {
    content: '';
    display: block;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    margin: auto;
    margin-top: 3px;
} 
.category:hover::after {
    width: 100%;
    background-color: black;
}
.home-navbar-row ul{
    list-style: none;    
    display: flex;
}
.home-navbar-row ul li a{
    text-decoration: none;
    color: black;
}
.dropdown-menu{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 13px;
    display: block;
    position: absolute;
    left: 245px;
    background-color: white;
    top: 100%;
}
.dropdown-menu ul{
    margin: 10px;
}
/* .nav-divider{
    margin-top: 0;
    margin-bottom: 0;
    height: 2px;
    background: #EFEFEF;
    border-top: 2px solid #DFDFDF;
    max-width: none;
} */