.profile-button{
    all: unset;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.profile-button:hover{
    background-color: #EFEFEF;
    transition: all 0.2s ease-in-out;
  }
.profile-dropdown{
    background-color: white;
    list-style: none;
}