
#signin-modal{
    font-size: 21px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login-element{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.register_on_modal{
    border: 2px solid black;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: white;
    height: 30px;
    justify-content: center;
    padding-bottom: 22px;
    padding-top: 10px;
    padding-right: 13px;
    padding-left: 13px;
    justify-content: center;
}

.register_on_modal:visited {
    color: black;
    text-decoration: none;
}

.header_login_modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login_text{
    font-size: 13px;
    margin-bottom:2px;
}

.signin_button{
    background-color: black;
    color: white;
    padding: 15px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    padding-left: 140px;
    padding-right: 140px;
    margin-top: 15px;
    font-size: 15px;
}
.form-control{
    margin-top: 18px;
    font-size: 15px;
    font-family: inherit;
}
.form-control input{
    display: block;
    width: 300px;
    padding: 10px;
    height: 25px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 0 2px #ccc;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}
.form-control label{
    display: inline-block;
}
.form-control small{
    visibility: hidden;
}
.form-control.error small{
    visibility: visible;
    color: #A61A2E; 
    font-size: 16px;
    font-family: inherit;
}
.form-control.error input{
    border-color: rgba(166, 26, 46, 0.35); 
    background-color: #FDDCD8;
}
.login_form input:hover{
    border: 1px solid gray;
}
.or-login {
    text-align: center;
    width: 40px;
    height: 25px;
    background-color: white;
    z-index: 1;
    margin-left: 36%;
    position: absolute;
    bottom:58px;
}
.hr-login {
    border: 1px solid gray;
    background-color: black;
    width: 100%;
    margin-top: 25px;
}